

h1 {
	margin-left: 30px;
    font-family: 'Times New Roman';
	font-size: medium;
}

a {
	outline: none;
	text-decoration: none;
	padding: 2px 1px 0;
	margin-right: 30px;
  }
  
a:link {
	color: #265301;
  }
  
a:visited {
	color: #437A16;
  }
  
a:focus {
	border-bottom: 1px solid;
	background: #BAE498;
  }
  
a:hover {
	border-bottom: 1px solid;
	background: #CDFEAA;
  }
  
a:active {
	background: #265301;
	color: #CDFEAA;
  }

.None {
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 15px;
	margin-left: 40px;
}

.navbar-brand {
	margin-right: 20px;
	font-family: 'Times New Roman', Times, serif;
	color: #BAE498;
}


.form_body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
}

.form {
	width: 450px;
	padding: 20px;
	border-radius: 10px;
	font-family: 'Times New Roman', Times, serif;
	box-shadow: 0 4px 16px #ccc;
	letter-spacing: 1px;
}

.form_button,
.form_input {
	font-family: 'Times New Roman', Times, serif;
	letter-spacing: 1px;
	font-size: 16px;
}

.form_title {
	text-align: center;
	margin: 0 0 32px 0;
	color:#1a731a;
	font-family: 'Times New Roman', Times, serif;
	font-size: 30px;
}

.form_group {
	position: relative;
	margin-bottom: 32px;
}

.form_label {
	position: absolute;
	top: 0;
	z-index: -1;
	color:#437A16;
	transition: 0.3s;
}

.form_input {
	width: 100%;
	padding: 0 0 10px 0;
	border: none;
	border-bottom: 1px solid #e0e0e0;
	background-color: transparent;
	outline: none;
	transition: 0.3s;
}

.form_input:focus {
	border-bottom: 1px solid #1a731a;
}

.form_button {
	padding: 10px 20px;
	border: none;
	border-radius: 5x;
	background-color: #1a731a;
	color: #fff;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}

.form_button:focus,
.form_button:hover {
	background-color: #1a731a;
}


.ab {
	font-family: 'Times New Roman', Times, serif;
	font-size: 25px;
	margin-left: 15px;
}